<% provide(:title ,"Posts") %>
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/users/:id">Profile</a>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        
         
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>


<nav class="navbar navbar-default">

<table class="table">
	<thead>
		<tr>
			<th>Material name</th>
			<th>Download link</th>
			<th>Action</th>
		</tr>
	</thead>
			<tbody>
			<% @post.each do |p| %>
			<tr>
			<td><%= p.name %></td>
			<td><%= link_to 'Download', p.attachment_url %></td>
			<td><%= link_to 'Delete', p, method: :delete, confirm: "Are you sure to delete #{p.name}?" %></td>
			</tr>
			</tbody>
			<% end %>
		</tbody>
		

		<br>
		
	</table>
	</nav>
<center>	<h4><%= link_to "New Post",new_post_path %> </h4> </center>

